@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}
h1, h2, h3, p ,a {
  color: #52524e;
  text-shadow: 1px 1px 3px #52524e;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #e9e9e5;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background: #d4d6c8;
  border-radius: 10px;
}

.img-block img{
  width: 250px;
  border-radius: 10px;
}

.img-block {
  display: inline-block;
  padding:15px;
  box-sizing: border-box;
}

.desc-wrap {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  padding: 20px 0px 0px 20px;
  box-sizing: border-box;
}

.desc-block {
  padding-left: 20px;
  padding-top: 15px;
}

.soc-link {
  list-style: none;
  text-align: center;
  padding-top: 30px;
}

.soc-link li {
  display: inline;
}

.section-header-text {
  text-align: center;
  padding: 10px;
}

.image-list {
  list-style: none;
  padding:15px;
}

.image-list li {
  display: inline-block;
  width: 32%;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #52524e;
  border-radius: 5px;
  box-sizing:border-box;
  margin:10px 5px 5px 5px;
  padding-bottom: 5px;
  box-shadow: 2px 3px 10px #52524e;
  background: #52524e;
}

.image-list img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.image-list h3 {
  color: #e9e9e5;
}
